{% import 'parts/forms.jinja2' as forms %}
{% extends "layout/landing_layout.jinja2" %}

{% set bg_wrapper = 'bg-image-login' %}

{% set script = 'forgot_password' %}

{% block content %}
    <div class="login-box">
        <div class="login-content">
            {% if form is not undefined and form is not none %}
                <h2 class="login-title text-center">Forgot Password</h2>
                <p class="login-text-link" style="margin-bottom: 15px;">
                    Enter the email you signed up with.
                </p>
                {{ forms.form(csrf_token=csrf_token, method="post", class="login-form", id='login-form', action=url('forgot.password'), styles='login-form')}}
                    <div class="form-group">
                        {{ forms.email_field(label='Email', name='email') }}
                    </div>

                    <p class="error-message">
                        {% if form.has_errors or error %}
                            <span class="text-danger">{{ form.error_message() or error }}</span>
                        {% endif %}
                    </p>

                    <div class="btn-login">
                        <button type="submit" class="btn">SUBMIT</button>
                    </div>
                {{ forms.endform() }}
                <p class="login-text-link">
                    Remember your password? <a href="{{ url('login') }}">Login</a>
                </p>
                <p class="login-text-link">
                    Need an account? <a href="{{ url('register') }}">Sign up for free</a>
                </p>
            {% elif is_sent and email %}

                <h2 class="login-title text-center">Email Sent!</h2>
                <p class="login-text-link text-center">
                    We just sent an email with instructions to reset your password to
                    <a href="#">{{ email }}</a>.
                </p>
                <p class="login-text-link">
                    <a href="{{ url('login') }}">Back to Login</a>
                </p>
                <p class="login-text-link">
                    Need an account? <a href="{{ url('register') }}">Sign up for free</a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock content %}