{% extends "layout/landing_layout.jinja2" %}

{% set bg_wrapper = 'bg-image-login' %}

{% set script = 'forgot_password' %}

{% block content %}
    <div class="login-box">
        <div class="login-content">
            <h2 class="login-title text-center">Reset Your Password</h2>
            <form action="{{ url('reset.password', token=token) }}" method="post" class="login-form">
                <div class="form-group">
                    {{ form.new_password.label }}
                    {{ form.new_password(class_='form-control') }}
                    <p class="text-right-form">Must be 8 letters or more.</p>
                </div>
                <div class="form-group">
                    {{ form.retype_password.label }}
                    {{ form.retype_password(class_='form-control') }}
                    <p class="text-right-form">Must be 8 letters or more.</p>
                </div>

                <p class="error-message">
                    {% if form.has_errors or error %}
                        <span class="text-danger">{{ form.error_message() or error }}</span>
                    {% endif %}
                </p>

                <div class="btn-login">
                    <button type="submit" class="btn">RESET PASSWORD</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}