{% extends "layout/app_layout.jinja2" %}
{% import 'parts/forms.jinja2' as forms %}


{% block header %}
    <div class="jm-header">
        <div class="jm-header-inner">
            <div class="row">
                <div class="container">
                    <h2 class="jm-header__title">
                        Profile Settings
                    </h2>
                    <div class="jm_setting_tabs">
                        <ul class="jm_setting_tabs-list">
                            <li>
                                <a href="{{ url('account.profile') }}">
                                    <span data-tab="jm-setting-profile">PROFILE</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url('account.changepassword') }}">
                                    <span class="active" data-tab="jm-setting-password">PASSWORD</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url('account.organization') }}">
                                    <span data-tab="jm-setting-onganization">ORGANIZATION</span>
                                </a>
                            </li>
                            <li>
                                <p>SETTINGS</p>
                            </li>
                            <li>
                                <a href="{{ url('logout') }}">LOGOUT</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="jm-content">
        <div class="jm-content-inner">
            <div class="jm-setting-tab-content setting-tab-content-password" id="jm-setting-password">
                <div class="login-box">
                    <div class="login-content">
                        <h2 class="login-title text-center">Password</h2>

                        {{ forms.form(csrf_token=csrf_token, id='login-form', action=url('account.changepassword'), styles='login-form')}}

                            {{ forms.password_field(label='Old Password', name='old_password') }}

                            {{ forms.password_field(label='New Password', name='new_password') }}

                            {{ forms.password_field(label='Retype New Password', name='confirm_password') }}

                            <p class="error-message">
                                {% if form.has_error or error %}
                                    <span class="text-danger">{{ form.error_message() or error }}</span>
                                {% endif %}
                            </p>

                            <p class="error-message">
                                {% if notify %}
                                    <span class="text-info">{{ notify }}</span>
                                {% endif %}
                            </p>

                            <div class="btn-login">
                                {{ forms.raw_button(_('Update Password'), styles='btn') }}
                            </div>

                        {{ forms.endform() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}{% endblock footer %}
