{% extends "layout/landing_layout.jinja2" %}
{% from "parts/logo.jinja2" import landing_logo with context %}

{% block header %}
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            {{ landing_logo() }}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="landing-login text-right">
                <a href="{{ url('login') }}">Login</a>
            </div>
        </div>
    </div>
{% endblock header %}

{% block content %}
    <div class="landing-content">
        <h1 class="landing-title">Customer Experience Platform Designed for Social Impact</h1>
        <p class="landing-title-note">Cost-effective customer experience tools and research for organizations looking to attain their mission core.</p>
        <ul class="landing-list-link">
            <li>
                <div class="landing-play">
                    <a href="https://player.vimeo.com/video/200496676" class="landing-play-link popup-vimeo"><i class="fa fa-play-circle" aria-hidden="true"></i></a>
                    <p class="text-play">Play Video</p>
                </div>
            </li>
            <li>
                <div class="landing-create-account">
                    <a href="{{ url('register') }}" class="landing-create-account-link">CREATE A FREE ACCOUNT</a>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
