
{% macro login_logo() %}
    <div class="landing-logo text-left">
        <a href="{{ url('home') }}">Home</a>
    </div>
{% endmacro %}

{% macro landing_logo() %}
    <div class="landing-logo text-left">
        <a href="{{ url('home') }}">Home</a>
    </div>
{% endmacro %}