{% if user and token %}
<div>
    <p>Hi {{ user.first_name }},</p>
    <p>
        We received a request to reset your password for your Journimap account: {{ user.email }}. We're here to help!
        <br/>
        <br/>
        Simply click <a style="color: blue;" href="{{ url('reset.password', token=token) }}">here</a> to set a new password.
        <br/>
        <br/>
        If you didn't ask to change your password, don't worry! Your password is still safe and you can delete this email.
    </p>
    <p>
        Cheers,
        <br/>
        <br/>
        Journimap Team
    </p>
</div>
{% endif %}
