<div>

    <p>Dear {{ name }},</p>
    <p>{{ organization_name }} has asked you to take part in an important but relatively short questionnaire
        concerning their mission. They would appreciate it if you took the time to take our research.
    </p>
    <p>Use this link to start the questionnaire:</p>
    <p>{{ link }}</p>
    <p>Sincerely,<br>
        Journimap Team</p>
</div>
